body {
	background: none linen;
	margin:0;
}
header {
	width: 100%;
	height: 50px;	
	text-align: center;	
	font-size: 30px;
}
aside {
	display: block;
	position: static;
	float: left;
	top:0px;
	left: 0px;
	width: 200px;
	height: 200px;
	padding:0 0 0 50px;
	margin: 0 0 0 0;
}
menu { 
	border: 1px solid black;
	margin: inherit;
	padding: inherit;
	height: inherit;
	width: inherit;
	position: fixed;
	left: inherit;
	
}
menu > li {
	position: relative;
	height: 50%;
	list-style-type: none;
}
menu > li > a{
	width: 70px;
	height: 20px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -10px 0px 0px -25px;
	text-decoration: none;
	text-align: center;
	color: black;
	font-size: 20px;
}
menu > li > a:hover {
	color: rgb(255,255,255);	
	background-color: rgb( 0,0,0);
}
<<<<<<< HEAD
menu > li > a:active {
	color: rgb(255,255,255);	
	background-color: rgb( 0,0,0);
=======
menu > li > a:target main{
	margin-top: 0px;
	transition-property: all;

>>>>>>> 6f3696d657ffede2ccdf9047d8dac9b96116b925
}
main {
	width:700px;
	height: 200px;
	position: relative;
	float: right;
	margin:inherit;
	border: 1px solid black;
}
main > table {
	position: absolute;
	visibility: hidden;
	margin-top: 200px;
}
#status {
}
#status-overview {
}
table, td, th {
	border: 2px solid black;
}
#kopf {
	background: none white;
	
}
